.blocks-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 2rem;

  .block {
    outline: 1px solid #ddd;
    padding: 1rem;
    position: relative;
    min-height: 2.5rem;
    z-index: 9999;
  }

  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .buttons {
    position: absolute;
    top: .5rem;
    right: .5rem;
    border-radius: 10rem;
    background: #fffd;
    display: flex;
    gap: 0.1rem;
    padding: .2rem .4rem;
  }

  .options {
    display: none;

    &:target {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      z-index: 10000;
      display: flex;
      justify-content: center;
      align-items: center;

      .container {
        padding: 1rem;
        background: white;
        max-width: 500px;
        width: 90%;
      }

      .close {
        position: fixed;
        top: 1rem;
        right: 1rem;
        background: white;
        opacity: 1;
        border-radius: 10rem;
        font-size: 2.5rem;
        width: 2.5rem;
        height: 2.5rem;
        text-align: center;

        a {
          color: #000;
        }

        &:hover {
          opacity: .8;
        }
      }
    }
  }
}

.background-preview {
  position: relative;

  button {
    position: absolute;
    top: 0;
    right: 0;
    background: hsl(0 90% 45% / 1);
    color: white;
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    border-radius: 10rem;
  }
}

.buttons button {
  border: none;
  background: none;
  padding: 0;
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin: 0 0.1rem;
}
